@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align:center;
  width:75vw;
  padding-left:12.5vw;
}

#openInNew {
  width:20px;
  padding-left:5px;
}

body {
  justify-content: center;
  align-items: center;
  text-align:center;
  padding: none;
  outline: none;
  font-family: "Funnel Display";
  background:var(--c1);
}

:root {
  --c1: rgb(218, 218, 218);
  --c2: rgb(30, 95, 235);
  --c3: rgb(0, 0, 0);
  --c4: rgba(218, 218, 218, 0.5);
}

* {
  outline:none!important;
}

.bigTitle {
  font-size: 75px; 
}

.navItem {
  background:none;
  border:none;
  font-size:30px;
  font-family:"Funnel Display";
  padding:0px 10px;
}

.navItem:hover {
  opacity:0.5;
  cursor: pointer;
}

.nav {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  background:var(--c1);
  padding:15px;
  z-index:999;
  text-align: center;
  border-bottom:2px solid var(--c2);
  overflow:scroll
}

b {
  font-size: 30px;
  padding:0px 10px;
}

.bl {
  color: var(--c2);
}

.btn1 {
  background:var(--c2);
  border:none;
  color:var(--c1);
  padding:15px 25px;
  font-family: "Funnel Display";
  font-size: 20px;
  transition: ease-in-out 0.4s;
}

.btn1:hover {
  opacity: 0.75;
}

.btn1:active {
  transition:none;
  opacity:0.25;
}

.hamburger {
  text-align: left;
  color:black;
  border:none;
  background: none;
  font-size:30px;
  left:15px;
  top:15px;
  z-index:99999;
  position:fixed;
  display:none;
}

.dropdown {
  z-index:9999;
  position:fixed;
  text-align:center;
  justify-content: center;
  align-items: center;
  background: var(--c4);
  top:0px;
  left:0px;
  height:100vh;
  width:100vw;
  backdrop-filter: blur(30px);
}

@media screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }
  .navItem {
    display:none;
  }
}

.onPage {
  opacity: 0.5;
}

