
:root {
  --bbg:black;
  --bc:white;
}

.toggle-theme {
  color:whitesmoke;
  background:#141414;
  --bbg:white;
  --bc:black;
}

.bigTitle {
  font-family: "Zain";
  font-size: 100px;
}

.nav {
  position: sticky;
  top: 0px;
}
