
:root {
  --bbg:black;
  --bc:white;
}
.toggle-theme {
  background: #121212;
  color: #f0f0f0;
  --bbg:white;
  --bc:black;
}

.bigTitle {
  font-family: "Zain";
  font-size: 100px;
}

.nav {
  position: sticky;
  top: 0px;
}
